
<style>
ul li {
    width:300px;
    border: 1px solid gray;
    list-style-type: none;
    padding:10px;

}

</style>

TODAY TASKS


<ul>
    <li *ngFor="let task of _todayTasksArray" 
    (click)="onSelect(task)">
    {{task.name}}<br>
    <!-- {{task.deadline | date:"yyyy-MM-LL HH:mm"}} -->
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>

WEEK TASKS
<ul>
    <li *ngFor="let task of _weekTasksArray" 
    (click)="onSelect(task)">
    {{task.name}}<br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>

OTHER TASKS
<ul>
    <li *ngFor="let task of _otherTasksArray" 
    (click)="onSelect(task)">
    {{task.name}}<br>
    {{task.deadline | date:"medium"}}
    <div *ngIf="selectedTask===task">
        <br>Description: <br>
        {{selectedTask.description}}<br><br>
        <input type="button" (click)="completeTask()" value="DONE">
        <input type="button" (click)="deleteTask()" value="DELETE" style="float:right">
    </div>
    </li>
</ul>